<ion-view view-title="Baby Cry">
	<ion-content scroll="false">
		<div class="center-div">
			<button class="button cry-button button-block button-balanced" ng-click="main.deactivate()">STOP</button>
			<h2 style="text-align: center;">Timer</h2>
			<h2 style="text-align: center;"><timer autostart="false" interval="1000">{{hhours}} : {{mminutes}} : {{sseconds}}</timer></h2>
		</div>
	</ion-content>
</ion-view>